@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

* {
  padding: 0;
  margin: 0;
}

main {
  margin-left: 10rem;
  margin-right: 10rem;
}

ul#menu {
  list-style: none;
  font-family: "Ms Madi", cursive, Arial;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 2rem;
}

ul#menu li {
  padding: 1rem;
  color: black;
}

nav {
  background-color: rgb(36, 163, 78);
}

ul#menu li a {
  color: black;
  text-decoration: none;
}

ul#menu li:hover {
  color: rgb(172, 35, 35);
  transform: scale(1.2);
}

header img {
  width: 100%;
}

header h1 {
  text-align: center;
  margin-top: 3rem;
}

header p {
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 2rem;
  font-size: 1.5rem;
}

section#cursos h2 {
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
}

section#cursos {
  margin-bottom: 10rem;
}

section#cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  width: 25rem;
  box-shadow: 5px 5px 5px #00000040;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}

.card img {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.card h3 {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.card p {
  font-size: 1.2rem;
  text-align: center;
}

.card:hover {
  transform: scale(1.2);
}
