@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-left: 10rem;
  margin-right: 10rem;
}

ul#menu {
  list-style: none;
  font-family: "Ms Madi", cursive, Arial;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 2rem;
}

ul#menu li {
  padding: 0.45rem;
  color: black;
}

nav {
  background-color: rgb(36, 163, 78);
  position: fixed;
  width: 100%;
  padding: 0.1rem;
  z-index: 9999;
}

ul#menu li a {
  color: black;
  text-decoration: none;
}

ul#menu li:hover {
  color: rgb(172, 35, 35);
  transform: scale(1.2);
}

header img {
  width: 100%;
  margin-top: 3rem;
}

header h1 {
  text-align: center;
  margin-top: 3rem;
}

header p {
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 2rem;
  font-size: 1.5rem;
}

section#cursos h2 {
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
}

section#cursos {
  margin-bottom: 10rem;
}

section#cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  width: 25rem;
  box-shadow: 5px 5px 5px #00000040;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}

.card img {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.card h3 {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.card p {
  font-size: 1.2rem;
  text-align: center;
}

.card:hover {
  transform: scale(1.2);
}

section#imagens {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section#imagens figure figcaption {
  text-align: center;
}

section#imagens p {
  padding: 2rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

section#inscrevase {
  padding: 4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
section#inscrevase h2 {
  width: 100%;
  margin: 0 1rem 4rem 1rem;
  text-align: center;
  color: rgb(5, 104, 38);
}
section#inscrevase form {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

section#inscrevase form input {
  border: solid 0.2rem rgb(5, 104, 38);
  width: 100%;
  padding: 0.8rem;
  margin: 0.3rem 1rem 1rem 1rem;
  font-size: 0.8rem;
}

section#inscrevase form label {
  font-size: 1.2rem;
  margin: 0 1rem 0 1rem;
  color: rgb(5, 104, 38);
}

section#inscrevase form button {
  border: solid 0.2rem rgb(5, 104, 38);
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: 550;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #ffff;
  color: rgb(5, 104, 38);
  width: 30%;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.buttonDisable {
  border: solid 0.2rem gray !important;
  color: gray !important;
}

.buttonDisable:hover {
  color: #ffff !important;
  background-color: gray !important;
}

section#inscrevase form button:hover {
  color: #ffff;
  background-color: rgb(5, 104, 38);
}

section#inscrevase img {
  width: 50%;
  align-items: center;
}

footer {
  background-color: rgb(36, 163, 78);
  padding: 4rem;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin-top: 6rem;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: rgb(216, 145, 145);
}

[date-animacao] {
  opacity: 0;
  transition: 1s;
}

[date-animacao="up"] {
  transform: translate3d(0, 100%, 0);
}

[date-animacao].animacao {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
